<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
  </head>
  <body>
	<script src="{% static 'home.js' %}"></script>


<div class="container">
      <!--Data or Content-->
      <div class="box-1">
          <div class="content-holder">
              <h2>Hello!</h2>

              <button class="button-1" onclick="signup()">Sign up</button>
              <button class="button-2" onclick="login()">Login</button>
          </div>
      </div>
    <!--Forms-->
      <div class="box-2">
          <div class="login-form-container">
              <h1>Login Form</h1>
              <input type="text" placeholder="Username" class="input-field">
              <br><br>
              <input type="password" placeholder="Password" class="input-field">
              <br><br>
              <button class="login-button" type="button">Login</button>
          </div>
          <!--Create Container for Signup form-->
          <div class="signup-form-container">
              <form method="POST" class="post-form" action="{% url 'showform' %}">
              {% csrf_token %}
          <h1>Sign Up Form</h1>
          <input type="text" name="username" placeholder="Username" class="input-field">
          <br><br>
          <input type="email" name="email" placeholder="Email" class="input-field">
          <br><br>
          <input type="password" name="password1" placeholder="Password" class="input-field">
          <br><br>
           <input type="password" name="password2" placeholder="Password" class="input-field">
          <br><br>
          <button class="signup-button" type="submit">Sign Up</button>
                  </form>
          </div>
      </div>
</div>
</body>
</html>